*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
  --light-white: #e3e3e3;
}

body {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: var(--color-primary);
  color: var(--light-white);
  overflow-x: hidden;

  position: relative;
}

a {
  color: var(--light-white);
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: var(--light-white);
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--color-secondary);
  color: #000;
}

.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: var(--light-white);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
}

.main-header .logo {
  color: var(--light-white);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  margin-left: 20px;
}

.main-header ul li a {
  font-size: 16px;
}

.main-header ul li a:hover {
  color: var(--color-secondary);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Card */
.card {
  background: #04376b;
  padding: 5px;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #0a4b8f;
}

/* Footer */
.main-footer {
  background: #020d18;
  padding: 20px 0;
  margin-top: 20px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: var(--light-white);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: var(--light-white);
}

.main-footer .container .social-links a:hover {
  color: var(--color-secondary);
}

/* Section: Now Playing */

section.trending {
  padding: 60px;
  background: url(../images/showcase-bg.jpg) no-repeat center center/cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 10px;
}

/* Movie/tvShow Details */
.details-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  margin: 50px 0px 30px;
}

.details-top img {
  height: auto;
  width: auto;
  margin: 0px 10px;
}

.details-top p {
  margin: 20px 0;
  line-height: 2rem;
}

.details-top h5 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.details-top ul.list-group li {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.details-top .btn {
  margin-top: 20px;
}

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--light-white);
  border-color: rgba(255, 255, 255, 0.1);
}

.details-bottom h4 {
  margin-bottom: 5px;
}

/* Search */
.search {
  padding: 60px;
  margin-bottom: 40px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form input[type="text"] {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--light-white);
  border-radius: 5px;
  background: transparent;
  color: var(--light-white);
}

.search .container form input[type="text"]::placeholder {
  color: var(--light-white);
}

.search .container form input[type="text"]:focus {
  outline: none;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background: var(--color-secondary);
  color: #000;
}

.search .container form button:hover {
  background: transparent;
  color: var(--light-white);
}

.pagination {
  margin-top: 20px;
}

.page-counter {
  margin-top: 10px;
}

/* Alert */
.alert-error {
  background: rgb(241, 4, 4);
  padding: 10px 15px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;

  position: absolute;
  top: 2rem;

  font-weight: 500;
  color: #fff;
  font-size: 0.85rem;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .details-top {
    flex-direction: column;
    justify-content: center;
  }

  div.details-top div:first-child {
    width: 100%;
  }

  div.details-top img {
    width: 75%;
  }

  .details-top div,
  .details-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details-top p {
    text-align: center;
    text-wrap: balance;
  }

  .details-bottom li {
    text-align: center;
  }

  .details-bottom div.list-group {
    text-align: center;
    text-wrap: balance;
    line-height: 2rem;
  }
}

@media screen and (max-width: 400px) {
  div.details-top div:first-child {
    width: 100%;
  }

  div.details-top img {
    width: 100%;
  }

  .search {
    padding: 50px 10px;
  }
}
